:root{
    --mainColor:#80038b;
    --secondaryColor:rgb(160, 55, 179);

    --borderColor:#e47ac0;

    --mainText:rgb(43, 1, 63);
    --secondaryText:#9f07b3;

    --themeDotBorder:#ac61b3;
    --previewBg: rgba(54, 20, 63, 0.8);
    --previewShadow: #a762b3;

    --buttonColor: rgb(63, 1, 92);
}